body, html {
    margin: 0;
    padding: 0;
    background-color: #16a085;
    color: #2c3e50;
}

h1 {
    background-color: #1abc9c;
    line-height: 60px;
}

[class*="btn-"] {
    background-color: #1abc9c;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    line-height: 30px;
    border: 2px solid #7f8c8d;
    border-radius: 10px;
}

[class*="btn-"]:hover {
    background-color: #16a085;
    border: 2px solid #7f8c8d;
}

.board {
    text-align: center;
    margin: 0 100px;
}

.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    background-color: #ecf0f1;
    margin-left: 5px;
    order: 1;
    width: 20%;
    min-height: 20vh;
}

.column-title {
    margin: 10px;
    color: #2c3e50;
}

.column-card-list {
    margin: 5px;
    padding: 0px;
}

.card {
    box-sizing: border-box;
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #f39c12;
    overflow: hidden;
    position: relative;
}

.card-description {
    margin: 5px;
}

.card-placeholder {
    background-color: #d35400;
    height: 60px;
    list-style-type: none;
}

.ui-sortable {
   min-height: 80px;
}